---
// interface Props {
	// title: string;
// }

// const { href, title, body } = Astro.props;
---

<li class="my-4 border-solid border border-gray-300 rounded-xl p-2">
	<p>Software Engineer, Backend, Scalable Content Moderation</p>
  <p>Singapore</p>
</li>

<style>
</style>
